In [2]:
import pandas as pd
import os
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.cluster import KMeans
from scipy.spatial.distance import cdist
import matplotlib.pyplot as plt

In [3]:
data_original = pd.read_csv("subscribers.csv")

/Users/wan/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
data = data_original[:]

In [5]:
del data["Unnamed: 0"]

In [6]:
df = pd.DataFrame(data, columns = ['plan_type','current_sub_TF'])

In [7]:
df['plan_type'].value_counts()

base_uae_14_day_trial    218251
high_uae_14_day_trial       325
low_uae_no_trial            167
base_eur_14_day_trial        14
high_sar_14_day_trial        12
low_gbp_14_day_trial          4
high_aud_14_day_trial         2
low_sar_no_trial              1
low_eur_no_trial              1
high_jpy_14_day_trial         1
Name: plan_type, dtype: int64

In [8]:
a=df.groupby('plan_type')['current_sub_TF'].value_counts()
a_df = pd.DataFrame(a)
a_df

                                      current_sub_TF
plan_type             current_sub_TF
base_eur_14_day_trial False                        8
                      True                         6
base_uae_14_day_trial True                    121164
                      False                    97087
high_aud_14_day_trial False                        1
                      True                         1
high_jpy_14_day_trial True                         1
high_sar_14_day_trial False                       10
                      True                         2
high_uae_14_day_trial True                       179
                      False                      146
low_eur_no_trial      False                        1
low_gbp_14_day_trial  False                        2
                      True                         2
low_sar_no_trial      False                        1
low_uae_no_trial      False                      122
                      True                        45

# A: Base 14 Trial, B: High 14 Trial

In [9]:
A_False=a_df.loc[('base_uae_14_day_trial',False), 'current_sub_TF']
print(A_False)
A_True=a_df.loc[('base_uae_14_day_trial',True), 'current_sub_TF']
print(A_True)
B_True=a_df.loc[('high_uae_14_day_trial',True), 'current_sub_TF']
print(B_True)
B_False=a_df.loc[('high_uae_14_day_trial',False), 'current_sub_TF']
print(B_False)

97087
121164
179
146

In [10]:
p=A_True/(A_False+A_True)
p

0.5551589683437876

In [11]:
p_hat=B_True/(B_True+B_False)
p_hat

0.5507692307692308

In [12]:
import math
z=(p_hat-p)/math.sqrt(p_hat*(1-p_hat)/5000)
z

-0.6240278579717118

In [13]:
if math.fabs(z) >=1.64:
        print('z score is %f. Reject the null hypotheis and conclude that Alternative B improved rentention rates over alternative A.' %(z))
else:
        print('z score is %f. Fail to reject the null hypothesis and conclude that Alternative B did not improve retention rates over alternative A.'%(z))

z score is -0.624028. Fail to reject the null hypothesis and conclude that Alternative B did not improve retention rates over alternative A.

High does not improve retention over base

# A: Base 14 trial, B: low 0 trial

In [14]:
A_False=a_df.loc[('base_uae_14_day_trial',False), 'current_sub_TF']
print(A_False)
A_True=a_df.loc[('base_uae_14_day_trial',True), 'current_sub_TF']
print(A_True)
B_True=a_df.loc[('low_uae_no_trial',True), 'current_sub_TF']
print(B_True)
B_False=a_df.loc[('low_uae_no_trial',False), 'current_sub_TF']
print(B_False)

97087
121164
45
122

In [15]:
p=A_True/(A_False+A_True)
p

0.5551589683437876

In [16]:
p_hat=B_True/(B_True+B_False)
p_hat

0.2694610778443114

In [17]:
import math
z=(p_hat-p)/math.sqrt(p_hat*(1-p_hat)/5000)
z

-45.532587913727774

In [18]:
if math.fabs(z) >=1.64:
        print('z score is %f. Reject the null hypotheis and conclude that Alternative B improved rentention rates over alternative A.' %(z))
else:
        print('z score is %f. Fail to reject the null hypothesis and conclude that Alternative B did not improve retention rates over alternative A.'%(z))

z score is -45.532588. Reject the null hypotheis and conclude that Alternative B improved rentention rates over alternative A.

In [19]:
A_False=a_df.loc[('high_uae_14_day_trial',False), 'current_sub_TF']
print(A_False)
A_True=a_df.loc[('high_uae_14_day_trial',True), 'current_sub_TF']
print(A_True)
B_True=a_df.loc[('low_uae_no_trial',True), 'current_sub_TF']
print(B_True)
B_False=a_df.loc[('low_uae_no_trial',False), 'current_sub_TF']
print(B_False)

146
179
45
122

In [20]:
p=A_True/(A_False+A_True)
p

0.5507692307692308

In [21]:
p_hat=B_True/(B_True+B_False)
p_hat

0.2694610778443114

In [22]:
import math
z=(p_hat-p)/math.sqrt(p_hat*(1-p_hat)/5000)
z

-44.83298137591866